<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="header fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col logo">
          <a href="/" class="logo-link"><%= config.title %></a>
        </div>
        <%- include("./parts/header.ejs") %>
        <div class="col text-end">
          <a href="/settings" class="logo-link icons" target="_blank"><i class="fa-solid fa-gear"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container index">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <p class="text-center">404 not found.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>